body{
    background-color: rebeccapurple;
 
    display: flex;
    flex-direction: column;
        background-color: chartreuse;
        height: 450px;
        min-height: 450px;
        min-width: 550px;;
}
.menu_superior
{
display:flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: stretch;
background-color: rosybrown;
}
.head_der{
    display: flex;
    background-color: rgb(115, 155, 132);
    align-items: center;
}
.head_izq{
    display: flex;
    background-color: steelblue;
    align-items: center;

}
.svg_image{
    background-color: violet;
    
    height: 24px;
    width: 24px;
    display: inline-block;
    padding: 0px;
}
.usuario{
    background-color: chartreuse;
    display: flex;
    align-items: flex-end;
    /* width: auto; */
}
.boton_usuario{
    background-color: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}
.logo{
    display: flex;
    background-color: tomato;
    justify-content: center;
    padding: 50px;
    
}
#busqueda{
    align-items: center;
    /* display: flex; */
    /* justify-content: center; */
    background-color: teal;

}

.cuadro_texto{
    height: 34px;
    font-size: 16px;
    }
#cuadro_busqueda{
    display: flex;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    
}
#botones_busqueda{
    display: flex;
    background-color:dodgerblue;
    justify-content: center;
}
#ofrecido{
    background-color: hotpink;
    color: #3c4043;    
    line-height: 28px;
    font-size: small;
    font-family: arial,sans-serif;
    text-align: center;
}
.enlace
{
    color:rgba(0,0,0,0.87);
    text-decoration-line: none;
    padding: 5px;
    font-family: Arial,  sans-serif;
    line-height: 24px;

}

.boton{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.ofrecido{

}